.main-container{
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-top: 20px;
  width: 300px;
  height: 580px;
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, .1);
  align-items: center;
  justify-content: center;  
  font-family: Poppins;
}
.mode-container{
  width: 60px;
  height: 25px;
  background-color: rgba(0,0,0,.1);
  border-radius: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: .9rem;
}
.mode-icone{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.light-icone{
  color: #2e2e2e;
  font-weight: bold;
  transition: all .3s ease-in;
}
.dark-icone{
  color: #ccc;
  transition: all .3s ease-in;
}
.dark{
  border-radius: 0px 50px 50px 0px;
}
.light{
  border-radius: 50px 0px 0px 50px;
}


.up{
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 50px;
  color: #2e2e2e;
}
.result{
  margin-bottom: 20px;
}
.operation{
  margin-right: 1px;
}
.down{
  width: 100%;
  height: 330px ;
  background-color: #f1f1f1;
  border-radius: 25px 25px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teclado{
  height: 100%;
  margin:25px 0px 10px 0px;
  display: grid;
  grid-template-columns: 52px 52px 52px 52px;
  gap: 10px;
}
.action,.operator, .number, .empty{
  border-radius: 10px;
  border-width: 0;
  background-color:rgba(0,0,0,.010);
  font-size: 15px;
  font-weight: bold;
  
}
.action{
  color: aqua;
}
.operator{
  color: red;
}
.simple-line{
  width: 100px;
  height: 5px;
  border-radius: 20px;
  background-color: rgba(0,0,0,.3);
  margin-bottom: 8px;
}
button{
  background-position: center;
  transition: background 0.1s;
  outline: none;
}
button:hover{
  background: rgba(0,0,0,.3)
  radial-gradient(circle, transparent 1%,rgba(0,0,0,.3)1%)
  center/15000%;
}
button:active{
  background: #ccc ;
  transition: background 0.1s;
}

